<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyAnimationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C3D7D241DD9C077005FFA55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C3D7D3D1DD9C077005FFA55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C3D7D481DD9C077005FFA55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
